@import "../global/variables.scss";

.checkout-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 3rem;
  background-color: #00bfa5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // @media screen and (min-width: 800px) {
  //   width: 40vw;
  //   max-width: 400px;
  //   right: 0;
  // }

  p {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
