article.food-option {
  margin-top: 0.5rem;
  padding: 1rem;
  border: solid $dark-accent;
  color: $font-color;
  border-width: 0 0 2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 2px 6px 0 hsla(0%, 0%, 0%, 0.5);
  margin: 0.5rem;

  img {
    width: 330px;
    height: 200px;
    object-fit: cover;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  p {
    margin: 1rem 0 1rem 0;
    color: $font-secondary-color;
  }

  .buy-box {
    display: flex;
    align-items: center;
    justify-content: center;
    .price-tag {
      padding-right: 1rem;
    }
    input[type=number] {
      width: 80px;
    }
    form {
      display: flex;
    }
  }
}
