// See: https://sass-lang.com/
@import "../global/variables.scss";


body {
  color: $font-color
}

main {
  max-width: 1124px;
  margin: 0 auto;
  margin-bottom: 5vh;
  
  section#restaurant-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }

  @media only screen and (min-width: 800px) {
    section#restaurant-listing {
      height: 40vh;
    }
    
    section#food-options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100vw;
      > * {
        flex-basis: 33%;
      }
    }
  }
}
  
