#restaurant-listing {
  color: white;
  width: 350px;
  height: 210px;
  border-radius: 25px;
  margin: 0.5rem;
  box-shadow: 0 2px 6px 0 hsla(0%, 0%, 0%, 0.5);
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 25px;

    h5 {
      color: rgba(100%,100%,100%, 0.7);
    }
  }


