@import "../global/variables.scss";

section#restaurant-listing {
  padding: 0.5rem;
  margin: 2px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  background-image: url("https://i.imgur.com/F4m0XZY.png");
  border: 2px solid $dark-accent;
  border-radius: 25px;
  margin: 0.5rem;
  box-shadow: 0 2px 6px 0 hsla(0%, 0%, 0%, 0.5);


  #transbox {
    color: #eeeeee;
  }

  @media only screen and (min-width: 800px) {
    padding: 10rem;
  }
}
