@import "../global/variables.scss";

section#restaurant-listing {
  padding: 0.5rem;
  margin: 2px;
  text-align: center;
  background-color: $light-shades;
  border: 2px solid $dark-accent;
  p {
    color: $font-secondary-color;
  }
  > * {
    margin: 0.5rem;
  }

  @media only screen and (min-width: 800px) {
    padding: 10rem;
  }
}
