@import "../global/variables.scss";

section#restaurant-listing {
  padding: 0.5rem;
  margin: 2px;
  text-align: center;
  background-image: url("https://i.imgur.com/F4m0XZY.png");
  border: 2px solid $dark-accent;
  p {
    color: $font-secondary-color;
  }
  > * {
    margin: 0.5rem;
  }

  #information {
    width: 100%;
    background-color: rgba(100%, 100%, 100%, 0.3);
  }

  @media only screen and (min-width: 800px) {
    padding: 10rem;
  }
}
