//font variable
$default-font: 'Oswald', sans-serif;
$brand-font: 'Cabin', sans-serif;

$font-color: black;
$font-secondary-color: grey;

$light-shades: #F9FBF9;
$light-accent: #94BDBC;
$brand-color: #F1CC85;
$dark-shades: #A391AD;
$dark-accent: #576FA6;