//Google Font
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600,700|Cabin:400,500&display=swap");

//font variable
$default-font: 'Oswald', sans-serif;
$brand-font: 'Cabin', sans-serif;

$font-color: black;
$light-shades: #F9FBF9;
$light-accent: #94BDBC;
$brand-color: #F1CC85;
$dark-shades: #A391AD;
$dark-accent: #576FA6;